{% extends "base.html.twig" %}

{% block title %} Genre Detail {% endblock %}

{% block body %}
<style>
    body {
        width: 80%;
        margin: 20px auto;
    }
</style>
    <a class="btn btn-outline-success" href="{{ path ('genre_index')}}">Back to list</a>
    <br><br>
    <table class="table table-striped" style="text-align:center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th> 
                <th scope="col">Mangas</th> 
                <th scope="col">Actions</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"> {{ genre.name }} </td>
                <td scope="row"> {{ genre.description }} </td>
                <td scope="row">  
                    {% for manga in genre.mangas %}
                           <a href="{{ path('manga_detail', {'id' : manga.id }) }}"> {{ manga.Name }} </a>
                            <br>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path ('genre_update', {'id' : genre.id} )}}">Update</a>
                    <a class="btn btn-danger" href="{{ path ('genre_delete', {'id' : genre.id} )}}"  
                                              onclick = "return confirm ('Are you sure to delete ?')" >      
                    Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
