{% extends "base.html.twig" %}

{% block title %} Manga Detail {% endblock %}


{% block body %}
    <style>
        .detail {
            width:40%;
            margin: 10px auto;
            background-color: rgb(235, 233, 231);
            display:flex;
        }

        .infor {
            width:492px;
        }

        .infor-title {
            font-weight:500;
            font-size: 30px;
            
            color:tomato;
        }

        .infor-item {
            margin-left: 98px;
            margin-top:20px;
        }

        .infor-item a {
            text-decoration:none;
        }

        .table {
            margin: 10px;
        }
    </style>
    <div class = "detail">
        <div><img src = "{{asset('images/Mangas/' ~ manga.image)}}" width = "200px"></div>
        <div class = "infor">
            <div class ="infor-title" style="text-align:center;"> {{ manga.name }} </div>
            <table class = "table">
                <tr>
                    <th> description </th>
                    <td> {{ manga.Description }} </td>
                </tr>
                <tr>
                    <th> Quantity </th>
                    <td> {{ manga.Quantity }} mangas </td>
                </tr>
                <tr>
                    <th> Price </th>
                    <td> {{ manga.Price }}$ </td>
                </tr>
                <tr>
                    <th> Date </th>
                    <td scope="row"> {{ manga.Date | date("d/m/Y") }} </td>
                </tr>
                <tr>
                    <th> Genre </th>
                    <td scope="row">
                        <a href="{{ path ('genre_detail', {'id' : manga.genre.id} ) }} "> 
                                           {{ manga.genre.name }} 
                        </a>
                    </td>
                </tr>
            </table>
 
            <div class ="infor-item"> 
            <a class="btn btn-warning" href="{{ path ('genre_update', {'id' : genre.id} )}}">Update</a>
                <a href = "#"><button type="button" class="btn btn-primary">Add to cart</button> </a>
                <a class="btn btn-danger" href="{{ path ('manga_delete', {'id' : manga.id} )}}"  
                        onclick = "return confirm ('Are you sure to delete ?')" >      
                Delete</a>
                <br></br>
            </div>



        </div>
    </div>
{% endblock %}